# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

A few Commonly used libraries used by Data Scientists:

1. Pandas 

2. Tensorflow

3. NumPy

| Data Science Tools |
| :--- |
| **RStudio** |
| **TensorFlow** |
| **Apache Spark** |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
>>> minutes = 200
>>> '{:02d}:{:02d}'.format(*divmod(minutes, 60))

'03:20'

_Objectives:_

* Java

* Scala

* C++

## Author

Arturo